h1 {
    padding: 20px;
}

h3 {
    margin-bottom: 8px;
}

#preview {
    position: relative;
    margin: 0 auto;
    width: 60%;
}

p {
    font-size: 1.20rem;
    font-weight: 600;
    padding: 10px;
}

li {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 8px;
}

