h2 {
    padding: 20px;
    font-weight: 600;
}

h3 {
    margin-bottom: 8px;
    font-weight: 600;
}

#preview {
    position: relative;
    margin: 0 auto;
    width: 60%;
}

li {

    display: inline-block;
    text-decoration: none;
    margin-bottom: 8px;
}

