.header-container {
    background-color: #007bff;
    height: 50px;
    align-items: center;
    display: flex;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin: 0;
    flex-grow: 5;
    justify-content: center;
    display: flex;
}

.empty-div {
    flex-grow: 1;
}