.nav {
    justify-content: center;
}

.logout-btn {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*margin: 12px 20px;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.fas {
    font-size: 25px;
    color: white;
}

