.scanner {
    text-align: center;
}

.order-group-scroll {
    max-height: 250px;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-scrolling: touch;
}

.enter-code-button {
    margin-left: 20px;
}