.scanner {
    text-align: center;
}

.scan-code-text {
    margin-top: 0.5rem;
}

.order-group-scroll {
    max-height: 250px;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-scrolling: touch;
}

.order-container {
    top: 257px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

