.list-group-item .card-header {
    margin: 0 auto;
    width: 90vw;
}

.list-group-item:first-child {
    border-radius: unset;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.route-scroll {
    max-height: 370px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.pickUpPoint {
    text-align: start;
}