.inputArea {
    width: 75vw;
    margin: 0 auto;
}

.formControlScanner {
    text-transform: uppercase;
}

.formControlScanner::placeholder {
    text-transform: lowercase;
}

.formControlScanner::placeholder::first-letter {
    text-transform: uppercase;
}
